body{
    background-color: #000000 ;
    text-align: center;
    font-family: 'Chromate', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

h1{
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: 'Chromate', sans-serif;
    transition: 2s;
}

h1 a{
    text-decoration: inherit;
    color: inherit;
}

h1:hover{
     opacity: 0.5;
     letter-spacing: 5px;
     color: #000000;
}

.container{
    background-color: white;
    height: 1100px;
    width: 1fr;
    margin: 10px auto;
    border-radius: 5px;
    display: inline-block;
}

/* the hover */

.container.one{
    margin-right: 0;
    transition: 3s;
}

.container.one:hover{
    margin-right: 50px;
    
}

.container.three{
    margin-left: 0;
    transition: 3s;
}

.container.three:hover{
    margin-left: 50px;
}

div > p {
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    margin-right:5px ;
}

p.center{
    transition: 2s;
}

p.center:hover{
    color: transparent;
}

.img-container{

    background-image: url('images/Amber%20Maitrejean.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 810px;
    width: 540px;
    margin: 10px auto;
    border-radius: 5px;
    transition: 2s;
}

.two .img-container:hover{
    background-size: cover;
}

.center{
    text-align: center;
    margin: 0;
}

@font-face {
    font-family: 'Chromate';
    src: url('file:///C:/Users/Bafana/Desktop/bafana/files/Web%20Development/web%20projects/Nematoda/fonts/Chromate-Regular.ttf')
    format('truetype');
    src: url("file:///C:/Users/Bafana/Desktop/bafana/files/Web%20Development/web%20projects/Nematoda/fonts/Chromate-Regular.otf") format('');
}

@media only screen and (max-width:1280px){
    .container.three{
        display: none;
    }
    .container.one:hover,
    .container.three:hover{
        margin-right: 0px;
        margin-left: 00px;
        
    }

}

@media only screen and (max-width:950px){
    .container.three{
        display: none;
    }
    .container.two{
        display: none; 
    }

    
}
