body{
    /* background-image: url(./images/swamp-green.jpg);
    background-repeat: no-repeat;
    background-size: 750px 1200px ;
    background-position: ; */
    background-color: #000000 ;
    text-align: center;
    font-family: 'Chromate', sans-serif;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
}

h1{
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: 'Chromate', sans-serif;
    /* border-bottom: 2px solid rgb(0, 0, 0); */
}

.container{
    background-color: white;
    height: 1100px;
    width: 1fr;
    margin: 10px auto;
    border-radius: 5px;
    display: inline-block;
    /* overflow: scroll; */
}

div > p {
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    margin-right:5px ;
}

.img-container{
    /* background-color:black ; */
    background-image: url(file:///C:/Users/Bafana/Desktop/bafana/files/Web%20Development/web%20projects/Nematoda/images/Amber%20Maitrejean.jpg);
    background-position: ;
    background-repeat: no-repeat;
    background-size: contain;
    height: 810px;
    width: 540px;
    margin: 10px auto;
    border-radius: 5px;
}

.center{
    text-align: center;
    margin: 0;
}


/* .child{
    background-color:black ;
    width: 25%;
    height: 300px;
    margin: 0px;
} */

@font-face {
    font-family: 'Chromate';
    src: url('file:///C:/Users/Bafana/Desktop/bafana/files/Web%20Development/web%20projects/Nematoda/fonts/Chromate-Regular.ttf')
    format('truetype');
    src: url("file:///C:/Users/Bafana/Desktop/bafana/files/Web%20Development/web%20projects/Nematoda/fonts/Chromate-Regular.otf") format('');
}